<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>회원 Page</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Simple Spring</h1>
        <h3>Sample Page</h3>
        <div>
            <a href="/login">로그인</a>
            <a href="/user/join">회원가입</a>
        </div>
        <div>
            <p>Hi! 홍길동</p>
            <a href="/user/update">회원정보 수정</a>
            <a href="/user/list">회원내역</a>
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</div>
</body>
</html>